import("methods")
import("aqp")
import("GSIF")
import("snow")
exportMethods(ea_spline)
exportMethods(dissever)
importFrom("GSIF", as.data.frame)
importFrom("raster", beginCluster, endCluster, clusterR, writeRaster, rasterFromXYZ, xyFromCell, ncell, resample, stack, sampleRandom)
importFrom("gam", gam)