import("methods")
import("aqp")
import("plyr")
import("rgdal")
importFrom("raster", beginCluster, endCluster, clusterR, writeRaster, rasterFromXYZ, xyFromCell, ncell, resample, stack, sampleRandom, extent)
importFrom("gam", gam)
importFrom("spatstat", ripras, as.ppp, delaunay )
importFrom("maptools", writePolyShape, writePointsShape, writeLinesShape  )
importFrom("tripack", tri.mesh, convex.hull)
importFrom("matrixStats", colMaxs)
importFrom("sp", spDistsN1, SpatialPolygonsDataFrame, coordinates, SpatialLines, SpatialLinesDataFrame, SpatialLinesLengths, Lines, Line    )


exportMethods(ea_spline)
exportMethods(dissever)
export(bbRaster)
export(wires)
export(plot_soilProfile)
export(plot_ea_spline)
export(goof)
export(goofcat)